@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;

}


img{
    
    width: 288px;
    height: 288px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card a{
    text-decoration: none;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    width: 288px;
    height: 72px;
    margin-bottom: 1em;
}

section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.card a{
    display: flex;
color: black;
text-align: center;
gap: 12em;
padding-left: 1em;
padding-top: 1.7em;
}

#destination-details img{
    width: 710px;
    height: 832px;
}

.destination_flex{
    display: flex;
    
}

.destination_text{
margin-top: 7em;
margin-left: 5em;


}

.destination_text h1{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

.destination_text h2 {
    margin-bottom: 1em;
}

.destination_text p{
    margin-bottom: 1em;
}
.destination_text ul li {
    gap: 1em;
}

.fa-heart.red {
    color: red;
}

.image-container {
    position: relative;
    display: inline-block;
}

.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
    color: red;
}

:root {
    --text-color: black;
    --background-color: white;
    --input-border-color: black;
    --button-bg-color: #CEF9FF; 
}

[data-dark="true"] {
    --text-color: white;
    --background-color: black;
    --input-border-color: white;
    --button-bg-color: #57097e; 
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

html, input, textarea {
    color: var(--text-color);
    background-color: var(--background-color);
}

input, textarea {
    border: 1px solid var(--input-border-color);
}





